.main-shortlink {
  background-image: linear-gradient(to bottom, #fff 50%, #f0f1f6 50%);
  padding: 0 8rem;
}

/* .bg-inputShortlink {
  margin: 0 8rem;
} */
.show-result {
  margin: 0 8rem;
}
.main-result {
  background: #f0f1f6;
  padding-top: 1rem;
}
.input-bg {
}
.input-url,
.inputError {
  background: url('../../images/bg-shorten-desktop.svg');
  background-color: hsl(257, 27%, 26%);
  width: 100%;
  height: 120px;
  border-radius: 10px;
}
.input-url > div,
.inputError > div {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  padding-top: 40px;
  justify-content: center;
  /* height: 120px; */
}
.input-url input {
  width: 80%;
  border-radius: 6px;
  height: 40px;
  margin-right: 1rem;
  padding-left: 1.5rem;
  border: none;
}
.inputError input {
  width: 80%;
  border-radius: 6px;
  height: 40px;
  margin-right: 1rem;
  padding-left: 1.5rem;
  border: 2px solid hsl(0, 87%, 67%);
}
.inputError input::placeholder {
  color: hsl(0, 87%, 67%);
}
.input-url button,
.inputError button {
  width: 12%;
  height: 40px;
  border-radius: 6px;
}
.error-message {
  color: hsl(0, 87%, 67%);
  font-size: 12px;
  margin-left: 2rem;
  font-style: oblique;
  margin-top: 0.4rem;
}

.link-url {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  margin-top: 1rem;

  background: #fff;
  height: 55px;
}
.link-left,
.link-right {
  font-weight: 500;
}
.link-right {
  display: flex;
  align-items: center;
}
.link-right > button {
  width: 5rem;
  height: 2rem;
  border-radius: 3px;
  margin-left: 1rem;
}
.short-link {
  color: hsl(180, 66%, 49%);
}
.btn-active-copy {
  background-color: #3a3053;
}

@media screen and (max-width: 414px) {
  .main-shortlink {
    padding: 1.5rem;
  }
  /* .bg-inputShortlink {
    margin: 1.5rem;
    margin-bottom: 0;
  } */
  .input-url,
  .inputError {
    padding: 1.2rem;
    height: fit-content;

    background: url('../../images/bg-shorten-mobile.svg');
    background-color: hsl(257, 27%, 26%);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .input-url > div,
  .inputError > div {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 90px;
  }
  .input-url input {
    padding-left: 1rem;
    margin-right: 0;
    width: 100%;
  }
  .inputError input {
    padding-left: 1rem;
    margin-right: 0;
    width: 100%;
    border: 1px solid hsl(0, 87%, 67%);
  }
  .input-url button,
  .inputError button {
    margin-top: 1rem;
    width: 100%;
  }

  .show-result {
    margin: 0 1.5rem;
  }
  .link-url {
    flex-direction: column;
    padding: 0;
    height: fit-content;
    align-items: flex-start;
  }
  .link-right > button:hover {
    background-color: #3a3053;
  }
  .link-left {
    margin: 0.6rem 1rem;
  }
  .link-right {
    flex-direction: column;
    align-items: flex-start;

    border-style: solid hidden hidden;
    border-color: hsl(0, 0%, 90%);
    border-width: 1px;
  }
  .short-link {
    margin: 0.5rem 1rem 0;
  }
  .link-right > button {
    margin-left: 0;
    width: calc(100vw - 5rem);
    margin: 0.5rem 1rem 1rem;

    height: 40px;
    border-radius: 6px;
  }
}
