main {
  background: #f0f1f6;
}
.main-shortlink {
  margin: 3rem 8rem 0;
}
.input-url {
  background: url('../../images/bg-shorten-desktop.svg');
  background-color: hsl(257, 27%, 26%);
  width: 100%;
  height: 90px;
  border-radius: 10px;
}
.input-url > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}
.input-url input {
  width: 80%;
  border-radius: 6px;
  height: 40px;
  margin-right: 1rem;
  padding-left: 1.5rem;
  border: none;
}
.input-url button {
  width: 12%;
  height: 40px;
  border-radius: 6px;
}

.link-url {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0 1.5rem;

  background: #fff;
  height: 55px;
}
.link-right {
  display: flex;
}
.link-right > button {
  width: 5rem;
  height: 2rem;
  border-radius: 3px;
  margin-left: 1rem;
}
