.header {
  margin: 3rem 0 2rem 8rem;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  margin-right: 8rem;
}
.menu-left {
  display: flex;
  align-items: center;
}
.menu img {
  margin-right: 2rem;
}
.menu a {
  text-decoration: none;
  margin-right: 1.5rem;
  color: #9998a0;
  cursor: pointer;
}
.menu a:hover {
  color: hsl(255, 11%, 22%);
}
.menu button {
  width: 85px;
  height: 35px;
  border-radius: 25px;
}
.burger {
  display: none;
}
.header-content {
  margin-top: 5rem;
  display: flex;
  align-items: center;
}
.header-content h1 {
  font-size: 55px;
  font-weight: 700;
  color: hsl(260, 8%, 14%);
  line-height: 1.1;
}
.title {
  margin-right: 5rem;
}
.title button {
  width: 140px;
  height: 40px;
  border-radius: 25px;
  margin-top: 2rem;
}

@media screen and (max-width: 414px) {
  .header {
    margin: 2rem 1.5rem 4rem;
  }
  .menu {
    display: none;
  }
  .burger {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .burger img {
    height: 1.5rem;
  }

  .header-content {
    margin-top: 1rem;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
  }
  .header-content img {
    /* margin: 0 1rem; */
    height: 210px;
    width: 320px;
    /* object-fit: cover;
    object-position: right 75%; */
  }
  /* .working {
    width: 200px;
  } */

  .header-content h1 {
    font-size: 40px;
  }
  .title {
    margin-right: 0;
  }
}
